# Importing Libs

In [89]:
#!pip install pandas_profiling

import pandas as pd
import pandas_profiling as pp
pd.set_option('display.max_columns',None)

In [141]:
df = pd.read_csv("IPL IMB381IPL2013.csv")
print(df.shape)

(130, 26)

In [142]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sl.NO.         130 non-null    int64
 1   PLAYER NAME    130 non-null    object
 2   AGE            130 non-null    int64
 3   COUNTRY        130 non-null    object
 4   TEAM           130 non-null    object
 5   PLAYING ROLE   130 non-null    object
 6   T-RUNS         130 non-null    int64
 7   T-WKTS         130 non-null    int64
 8   ODI-RUNS-S     130 non-null    int64
 9   ODI-SR-B       130 non-null    float64
 10  ODI-WKTS       130 non-null    int64
 11  ODI-SR-BL      130 non-null    float64
 12  CAPTAINCY EXP  130 non-null    int64
 13  RUNS-S         130 non-null    int64
 14  HS             130 non-null    int64
 15  AVE            130 non-null    float64
 16  SR-B           130 non-null    float64
 17  SIXERS         130 non-null    int64
 18  RUNS-C         130 non-null    int64
 19  WKTS           130 non-null    int64
 20  AVE-BL         130 non-null    float64
 21  ECON           130 non-null    float64
 22  SR-BL          130 non-null    float64
 23  AUCTION YEAR   130 non-null    int64
 24  BASE PRICE     130 non-null    int64
 25  SOLD PRICE     130 non-null    int64
dtypes: float64(7), int64(15), object(4)
memory usage: 26.5+ KB

In [172]:
df.describe()

,AGE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,ODI-WKTS,ODI-SR-BL,CAPTAINCY EXP,RUNS-S,HS,AVE,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
count,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,1.300000e+02,1.300000e+02
mean,2.092308,2166.715385,66.530769,2508.738462,71.164385,76.076923,34.033846,0.315385,514.246154,47.430769,18.719308,111.053462,17.692308,475.523077,17.169231,23.110231,6.204462,17.382615,2009.092308,1.922308e+05,5.212231e+05
std,0.576627,3305.646757,142.676855,3582.205625,25.898440,111.205070,26.751749,0.466466,615.226335,36.403624,11.094224,35.928907,23.828146,558.314049,21.816763,20.802057,4.941531,15.273422,1.377821,1.530973e+05,4.068074e+05
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2008.000000,2.000000e+04,2.000000e+04
25%,2.000000,25.500000,0.000000,73.250000,65.650000,0.000000,0.000000,0.000000,39.000000,16.000000,9.825000,98.237500,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2008.000000,1.000000e+05,2.250000e+05
50%,2.000000,542.500000,7.000000,835.000000,78.225000,18.500000,36.600000,0.000000,172.000000,35.500000,18.635000,118.510000,6.000000,297.000000,8.500000,24.785000,7.380000,19.935000,2008.000000,2.000000e+05,4.375000e+05
75%,2.000000,3002.250000,47.500000,3523.500000,86.790000,106.000000,45.325000,1.000000,925.250000,73.750000,27.872500,129.102500,29.750000,689.250000,23.750000,35.580000,8.247500,26.212500,2011.000000,2.250000e+05,7.000000e+05
max,3.000000,15470.000000,800.000000,18426.000000,116.660000,534.000000,150.000000,1.000000,2254.000000,158.000000,50.110000,235.490000,129.000000,1975.000000,83.000000,126.300000,38.110000,100.200000,2011.000000,1.350000e+06,1.800000e+06

In [173]:
#df.drop(columns=['Sl.NO.', 'PLAYER NAME'],axis=1, inplace=True)
x_feat = ['AGE', 'COUNTRY', 'TEAM', 'PLAYING ROLE', 'T-RUNS', 'T-WKTS',
       'ODI-RUNS-S', 'ODI-SR-B', 'ODI-WKTS', 'ODI-SR-BL', 'CAPTAINCY EXP',
       'RUNS-S', 'HS', 'AVE', 'SR-B', 'SIXERS', 'RUNS-C', 'WKTS', 'AVE-BL',
       'ECON', 'SR-BL', 'AUCTION YEAR', 'BASE PRICE']

## Handling Categorical Features

In [158]:
cate_list = ["AGE","COUNTRY","PLAYING ROLE","CAPTAINCY EXP"]

for i in cate_list:
    print(df[i].unique())

cate_list_encoded = pd.get_dummies(df[x_feat],columns=cate_list, drop_first = True)
cate_list_encoded

[2 1 3]
['SA' 'BAN' 'IND' 'AUS' 'WI' 'SL' 'NZ' 'ENG' 'PAK' 'ZIM']
['Allrounder' 'Bowler' 'Batsman' 'W. Keeper']
[0 1]

,TEAM,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,ODI-WKTS,ODI-SR-BL,RUNS-S,HS,AVE,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,AGE_2,AGE_3,COUNTRY_BAN,COUNTRY_ENG,COUNTRY_IND,COUNTRY_NZ,COUNTRY_PAK,COUNTRY_SA,COUNTRY_SL,COUNTRY_WI,COUNTRY_ZIM,PLAYING ROLE_Batsman,PLAYING ROLE_Bowler,PLAYING ROLE_W. Keeper,CAPTAINCY EXP_1
0,KXIP,0,0,0,0.00,0,0.0,0,0,0.00,0.00,0,307,15,20.47,8.90,13.93,2009,50000,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1,RCB,214,18,657,71.41,185,37.6,0,0,0.00,0.00,0,29,0,0.00,14.50,0.00,2008,50000,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0
2,KKR,571,58,1269,80.62,288,32.9,167,39,18.56,121.01,5,1059,29,36.52,8.81,24.90,2008,200000,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0
3,CSK,284,31,241,84.56,51,36.8,58,11,5.80,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0
4,CSK,63,0,79,45.93,0,0.0,1317,71,32.93,120.71,28,0,0,0.00,0.00,0.00,2011,100000,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,DC,0,0,0,0.00,0,0.0,49,16,9.80,125.64,2,0,0,0.00,0.00,0.00,2010,50000,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0
126,RR,6398,7,6814,75.78,3,86.6,3,3,3.00,42.85,0,0,0,0.00,0.00,0.00,2008,225000,1,0,0,0,0,0,1,0,0,0,0,1,0,0,1
127,KXIP+,1775,9,8051,87.58,109,44.3,1237,66,26.32,131.88,67,569,23,24.74,7.02,21.13,2011,400000,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1
128,MI+,1114,288,790,73.55,278,35.4,99,23,9.90,91.67,1,1783,65,27.43,7.75,21.26,2008,200000,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0
129,DC,288,64,343,95.81,108,39.4,11,10,11.00,122.22,0,99,2,49.50,9.00,33.00,2008,100000,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0

## Standardization

In [187]:
from sklearn.preprocessing import StandardScaler

scale = StandardScaler()
data = df[df.iloc[:,4:-3].columns]
scaled_data = pd.DataFrame(scale.fit_transform(data),columns = data.columns)
scaled_data

,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,ODI-WKTS,ODI-SR-BL,CAPTAINCY EXP,RUNS-S,HS,AVE,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL
0,-0.657994,-0.468108,-0.703043,-2.758455,-0.686760,-1.277132,-0.67873,-0.839099,-1.307954,-1.693829,-3.102880,-0.745369,-0.303010,-0.099814,-0.127413,0.547597,-0.226928
1,-0.593006,-0.341460,-0.518927,0.009520,0.983269,0.133821,-0.67873,-0.839099,-1.307954,-1.693829,-3.102880,-0.745369,-0.802864,-0.790019,-1.115257,1.685233,-1.142498
2,-0.484592,-0.060022,-0.347421,0.366516,1.913068,-0.042548,-0.67873,-0.566604,-0.232487,-0.014415,0.278190,-0.534721,1.049112,0.544377,0.647130,0.529313,0.494091
3,-0.571749,-0.249993,-0.635505,0.519237,-0.226374,0.103801,-0.67873,-0.744460,-1.004617,-1.169012,-0.970467,-0.745369,1.167783,1.464649,-0.007250,0.005188,0.312686
4,-0.638862,-0.468108,-0.680904,-0.978129,-0.686760,-1.277132,-0.67873,1.309858,0.649946,1.285864,0.269808,0.434258,-0.855007,-0.790019,-1.115257,-1.260432,-1.142498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,-0.657994,-0.468108,-0.703043,-2.758455,-0.686760,-1.277132,-0.67873,-0.759145,-0.866737,-0.807070,0.407554,-0.661109,-0.855007,-0.790019,-1.115257,-1.260432,-1.142498
126,1.284969,-0.418856,1.206496,0.178909,-0.659679,1.972563,1.47334,-0.834203,-1.225226,-1.422372,-1.905633,-0.745369,-0.855007,-0.790019,-1.115257,-1.260432,-1.142498
127,-0.118957,-0.404784,1.553150,0.636298,0.297203,0.385241,1.47334,1.179322,0.512066,0.687754,0.581902,2.077310,0.168075,0.268295,0.078650,0.165676,0.246302
128,-0.319692,1.558248,-0.481655,0.092471,1.822797,0.051265,-0.67873,-0.677560,-0.673704,-0.798021,-0.541582,-0.703239,2.350890,2.200867,0.208464,0.313975,0.254847
129,-0.570534,-0.017806,-0.606921,0.955307,0.288175,0.201367,-0.67873,-0.821150,-1.032193,-0.698487,0.311998,-0.745369,-0.677002,-0.697991,1.273521,0.567912,1.026476

In [195]:
import matplotlib.pyplot as plt

plt_df = scaled_data
fig,ax = plt.subplots()
ax.boxplot(plt_df)
ax.set_title("Checking for Outliers")
ax.set_xlabel("Xlabel")
plt.savefig("mygraph.png")

## Train Test Split

In [171]:
#!pip install statsmodels
from sklearn.model_selection import train_test_split
from statsmodels import api as sm

x = cate_list_encoded
y = df["SOLD PRICE"]

X_train, X_test, y_train, y_test = train_test_split(x,y,test_size = 0.8,random_state = 12)

## Model Training